.topmargin {
    margin-top: 30px;
}

[type="radio"]:checked+span:after,

[type="radio"].with-gap:checked+span:before,

[type="radio"].with-gap:checked+span:after {

    border: 2px solid red;

}



[type="radio"]:checked+span:after,

[type="radio"].with-gap:checked+span:after {

    background-color: red;

}

#Absatz1 {
    text-align: center;
}